body {
    font-family: 'Gabarito', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-family: 'Sacramento', cursive;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flash {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 1;
}

.listing-link {
    text-decoration: none;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    font-size: 2rem;
    color: rgb(246, 74, 74);
}

.nav-link {
    color: #222222 !important;
}


/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.f-info {
    text-align: center;
    height: 7rem;
    background-color: #cecccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

/* Card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* Edit page */
.add-btn {
    background-color: rgb(246, 74, 74) !important;
    border: none !important;
}

/* Show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;

}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map styling */
#map {
    height: 400px;
    width: 80%;
}