<% layout('/layouts/boilerplate') -%>
    <!-- <h3>All Listings</h3> -->
    <!-- <form action="/listings/new" method="get">
            <button type="submit">Create new Listing</button>
        </form> -->

    <style>
        #filters {
            display: flex;
            justify-content: space-evenly;

            align-items: center;
        }

        .filter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.2rem;
            align-items: center;
            margin: 1rem;
            opacity: 0.7;

        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
            margin: 0;
        }

        .tax-info {
            display: none;
        }

        .tax-toggle {
            border: 1px solid black;
            border-radius: 1rem;
            height: 2.5rem;
            padding: 1rem;
            display: flex;
            align-items: center;
            margin-left: 5rem;
        }

        .filter-swiper {
            display: flex;
            width: 70%;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 10px !important;
        }

        .swiper-pagination {
            display: none;
        }
    </style>

    <div id="filters">
        <div #swiperRef="" class="filter-swiper swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-solid fa-fire "></i></div>
                    <p>Trending</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-solid fa-bed "></i></div>
                    <p>Rooms</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-solid fa-mountain-city "></i></div>
                    <p>Iconic cities</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-solid fa-mountain "></i></div>
                    <p>Mountain</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class='bx bxs-castle '></i></div>
                    <p>Castles</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Pools</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-solid fa-campground "></i></div>
                    <p>Camping</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-solid fa-cow "></i></div>
                    <p>Farms</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-regular fa-snowflake"></i></div>
                    <p>Arctic</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-solid fa-igloo "></i></div>
                    <p>Domes</p>
                </div>
                <div class="filter swiper-slide">
                    <div class="icon"><i class="fa-solid fa-ship"></i></div>
                    <p>Boats</p>
                </div>
            </div>
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div> -->
            <div class="swiper-pagination"></div>

        </div>


        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>

    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

        <% for(let listing of allListing ){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src=" <%=listing.image.url %>" class="card-img-top" alt="Hotels image"
                        style="width: 20rem;height:20rem;">
                    <div class="card-img-overlay">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title %>
                            </b> <br>
                            &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
                                <i class="tax-info">&nbsp; + 18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>

    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxinfo = document.getElementsByClassName("tax-info");
            for (info of taxinfo) {
                if (info.style.display != "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }

            }
        })



    </script>