<% layout('/layouts/boilerplate') -%>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Login for WonderLust</h2>
            <form action="/login" method="post" class="needs-validation mt-5" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">UserName</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>

                <button type="submit" class="btn btn-dark add-btn">Login</button>
            </form>
        </div>
    </div>